
<%= render "toolbar/toolbar_toggle_mode" %>

<div class='toolbox-edit-markdown' data-controller='markdown'>
    <div class='header editor-button' title='Insert header' data-action='click->markdown#insertHeader'>
        <i class="fa-solid fa-heading"></i>    
    </div>
    
    <div class='bold editor-button' title='Insert bold text' data-action='click->markdown#insertBold'>
        <i class="fa-solid fa-bold"></i>
    </div>

    <div class='italic editor-button' title='Insert italic text' data-action='click->markdown#insertItalic'>
        <i class="fa-solid fa-italic"></i>        
    </div>

    <div class='listul editor-button' title='Insert unordered list' data-action='click->markdown#insertUnorderedList'>
        <i class="fa-solid fa-list-ul"></i>        
    </div>

    <div class='listol editor-button' title='Insert ordered list' data-action='markdown#insertOrderedList'>
        <i class="fa-solid fa-list-ol"></i>        
    </div>

    <div class='link editor-button' title='Insert link' data-action='click->markdown#insertLink'>
        <i class="fa-solid fa-link"></i>        
    </div>

    <div id='image-editor-button' class='image editor-button' title='Insert image' data-action='click->markdown#insertImage'>
        <i class="fa-solid fa-images"></i>    
    </div>
</div>

<div class='toolbox-edit-container'>
    <div class='delete-page-button'>
        <%= link_to "<i title='Delete page' id='del__' class='fa-solid fa-delete-left'></i>".html_safe, book_page_path(@page.book_id, @page.id), data: { turbo_method: :delete, confirm: "Are you sure?", turbo_confirm: "This is a destructive action! | You will not be able to recover this page." } %>
    </div>

    <div class='save-page-button'>
        <label for='submit_page'>
            <i title='Save page' id='sub__' class="fa-solid fa-circle-check"></i>
        </label>
    </div>
</div>

