<div class='change-editor-mode'>
    <span>
        <i class="fa-solid fa-eye"></i>
    </span>

    <span data-controller='toggle' data-toggle-show-path='<%= book_page_path(@book.slug, @page) %>' data-toggle-edit-path='<%= edit_book_page_path(@book.slug, @page) %>'>
        <label for='editor-mode-toggle' class='switch'>
            <input data-action='change->toggle#toggle' data-toggle-target='checkbox' type='checkbox' id='editor-mode-toggle'>
            <span class='slider round'></span>
        <label>
    </span>

    <span>
        <i class="fa-solid fa-pen-nib"></i>
    </span>
</div>