<div class='book-index-buttons'>
    <a title='Open/Close filter options' onclick="toggle_book_filter()" id='book_filter_toggle' class='reset_book_actions_css' ><i style='color:grey !important; font-size:30px;' class="fa-solid fa-filter"></i></a>
</div>

<div class='book-filter-options'>
    <div>
        <label>Search by Title/Subtitle</label>
        <input type='search' />
    </div>
</div>