<% content_for :navbar do %>
    <%= render 'layouts/nav_book' %>
<% end %>



<section class='book-edit-section'>

    <div class='book-edit-cover-side'>
    </div>

    <div class='book-edit-side'>
    </div>

</section>
