<% content_for :navbar do %>
    <%= render 'layouts/nav_book', should_return_to: :back %>
<% end %>

<h1>Book update</h1>

<%= render 'books/form', action_name: "Update book/document"%>
<%= link_to "Back", :back %>
