<% if !current_user %>
    <section>
        <h1>Welcome to Scriptum!</h1>
        
        <p>
            A cozy, calm place for you to organize and put your ideas to fruition
        </p>

        <%= button_to "Start now.", new_user_registration_path, method: :get %>
    </section>
<% else %>
    <section >
        <h1>Hello <%= current_user.first_name%></h1>
        <h2>Start now, <br /> <span data-controller="dancingtext" data-dancingtext-target="text" class="none">marking stuff down</span></h2>

        <% if !@any_books %>
            <%= button_to "Create my first book", new_book_path, method: :get, class: "first-book-button" %>
        <% else %>
            <%= button_to "My books", books_path, method: :get %>
        <% end %>

    </section>
<% end %>


    <!-- <div data-controller="clipboard">
        PIN:
        <input data-clipboard-target="source" type="text" value="1234" readonly />
        <button data-action="clipboard#copy">Copy to Clipboard</button>
    </div> -->
