/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";
 
/*Overwriting some of simple.css colors*/
:root{
  /* --accent-bg: black !important; */
}


body, html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: none !important;
}

a{  
  color: black !important;
  font-weight: 600 !important;
}

footer{
  border: none !important;
  margin: 0 !important;
}

i{
  font-size: 14px;
}


body > header > *:only-child {
  margin-block-start: 1rem !important;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn{
  align-items: center;
  border-radius: 2em;
  border: 1px solid gray;
  cursor: pointer;
  display: inline-flex;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  pointer-events: auto;
  padding:  0.5em 1.1em;
  text-decoration: none;
  gap: 3px;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 720px) {
  li > a {
    font-weight: 400 !important;
  }

  nav {
    display: block;
  }
}



/*Styles for the crazy text in the home.html.erb*/


.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.center-text{
  text-align: center;
}



/*@MEDIA*/

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  * {
      scrollbar-color: #C1C1C1 transparent;
      scrollbar-width: thin;
  }
}

