
.notice-container{

}


.error-container{
    
}


.flash-messages-container{
    padding: 1rem 1rem;
    width: 100vw;
    margin: 6em auto;
    border: none;

    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}



@media screen and (max-width: 720px) {
    .flash-messages-container{
        margin: 8em auto !important;
    }
}