
.notice-container{

}


.error-container{
    
}

.removed{
    transform: translateX(100vw);
}

.flash-messages-container{
    padding: 1rem 1rem;
    text-align: center;
    font-size: larger;
    background-color: var(--accent-bg);
    color: black;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    transition: transform 1s 0s;
    border: none !important;
}
