
:where(doc-menter){
  min-width: 0;
}

.doc-menter-content{
  min-block-size: 50dvh;
  text-align: start;
  white-space: break-spaces;
  
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
