.page-editor-container{
    border-bottom: none;
    border-top: none;
    display: grid;
    margin-top: 0 !important;
    place-content: center;
    text-align: center;
    margin-inline: auto;
    inline-size: 67ch;

    padding: 0 !important;
}

.edit-page{
    grid-auto-columns: 1fr 1fr;
}

.show-page{
    margin-top: 2rem !important;
}

.show-page:has(figure){
    grid-auto-columns: 90vw; 

}

.image-page-upload{
    cursor: pointer;
    border: 3px solid black;

}

.image-page-upload:hover {
    border-color: rgb(163, 163, 255);
}

.image-page-upload-input{
    display: none;
}

.page-editor.page-title{
    inline-size: 70ch;
    /* inline-size: 90ch; */
    max-inline-size: 100vw;
    overflow-wrap: break-word;
    text-wrap: pretty;
    color: black;
}

.section_header_input{
    resize: none;
    border: 4px var(--border) solid;
    border-radius: 30px;
    text-align: center;
    font-size: var(--font-x-large-responsive);
    padding: 1rem;

}

.page-editor-container.edit-page:has(.page-image-show){
    margin-top: 2rem !important;

}

.page-editor-container.show-page:has(figure){
    inline-size: 100%;
}

section:has(.page-image-show){
    inline-size: 100%;
    padding: 0;
    
    figcaption {
      inline-size: 67ch;
      margin-inline: auto;
      max-inline-size: 100dvw;
    }
}

.book-pages-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .btn {
        max-inline-size: 50ch;
    }
}

.text-content{
    text-align: start !important;
    padding-inline: 1rem;
    inline-size: 67ch;
    container-type: inline-size;
    max-inline-size: 100dvw;
    margin-inline: auto;
}

.page-image-show > img{
    cursor: pointer;
}