.page-editor-container{
    border-bottom: none;
    border-top: none;
    display: grid;
    margin-top: 0 !important;
    grid-template-rows: auto 1fr;
}

.show-page{
    margin-top: 2rem !important;

}

.image-page-upload{
    cursor: pointer;
    border: 3px solid black;

}

.image-page-upload:hover {
    border-color: rgb(163, 163, 255);
}

.image-page-upload-input{
    display: none;
}

.page-editor.page-title{
}

.section_header_input{
    resize: none;
    border: 4px rgb(163, 163, 255) solid;
    border-radius: 30px;
    text-align: center;
    font-size: 2em;
    padding: 1rem;
}