.toolbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
    gap: 1rem;

}

.toolbox > div {
    background-color: var(--accent-bg);

    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

}

.change-editor-mode{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.6rem;
    padding: 0.54rem;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.toolbox-edit-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.save-page-button{
    padding: 0.74rem;
    
}

.delete-page-button{
    padding: 0.74rem;
}

.change-editor-mode > span > i{
    font-size: var(--font-medium-responsive) !important;
}

.save-page-button > label > i{
    cursor: pointer;
    font-size: var(--font-medium-responsive) !important;
    color: rgb(67, 241, 67);
}

.delete-page-button > a{
    background: none !important;
    border: none !important;
    padding: 0;
    margin: 0 0 0 0;
}

.delete-page-button > a > i{
    font-size: var(--font-medium-responsive) !important;
    cursor: pointer !important;
    color: red !important;
    background: none !important;
    border: none !important;
    padding: 0;
    margin: 0 0 0 0;
}

.editor-button{
    padding: 0.74rem;
    cursor: pointer;
}

.editor-button > i{
    font-size: var(--font-medium-responsive) !important;
    transform: ease 300ms;
}

.editor-button:hover{
}