.user-grid-form{
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.user-grid-form .actions{
    grid-column: 1 / -1;
}

.user-grid-form #error_explanation{
    grid-column: 1 / -1 !important;

}

.delete-account-button{
    background-color: red !important;
    border: none;
}

.delete-account-button:hover{
    background-color: rgb(255, 53, 53) !important;
}

@media (min-width:600px) {
    .user-grid-form{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:900px) {
    .user-grid-form{
        grid-template-columns: repeat(3, 1fr);
    }
}