.user-edit-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.user-grid-form{
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.user-grid-form .actions{
    grid-column: 1 / -1;
}

.user-grid-form #current_password_one_row{
    grid-column: 1 / -1;
}

.user-grid-form #error_explanation{
    grid-column: 1 / -1 !important;

}

.delete-account-button{
    background-color: red !important;
    border: none;
    color: white;
}

.delete-account-button:hover{
    background-color: rgb(255, 53, 53) !important;
}

.user-img-profile{
    display: flex;
    justify-content: center;
}

.user-img-profile > img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    cursor: pointer;

}

.user-img-profile > img:hover {
    border: 3px solid rgb(163, 163, 255);
}

.user-img-profile-nav > img:hover {
    border: 3px solid rgb(163, 163, 255);
}

.user-img-profile-nav{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.user-img-profile-nav > img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    object-fit: cover;
    cursor: pointer;
}

.user-img-profile-nav > img:hover {
    border: 1px solid rgb(163, 163, 255);
}

.user-name-section{
    text-align: center;
}

.user-profile-photo-input{
    display: none;
}

.user-profile-photo-label{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

@media (min-width:600px) {
    .user-grid-form{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:900px) {
    .user-grid-form{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .user-edit-section {
      grid-template-columns: 1fr;
    }
}