<dialog id="turbo-confirm">

    <h2>Are you sure?</h2>
    <h5></h5>
    <p></p>

    <form method="dialog">
        <button value='cancel'>Cancel</button>
        <button style='padding: 9px;' class='delete-account-button' value='confirm'>Confirm</button>
    </form>
</dialog>