<nav class='book-navbar'>
    <%= button_to '<i class="fa-solid fa-circle-arrow-left"></i>'.html_safe, should_return_to, method: "get", class: "book-return-button" %>
    <%= button_to '<i class="fa-solid fa-gear"></i>'.html_safe, edit_info_book_path, method: "get", class: "book-edit-button" %>

</nav>


<script>
    document.getElementsByTagName('header')[0].setAttribute('style', 'padding: 0px !important')

    // document.addEventListener('DOMContentLoaded', function() {

    // });
</script>