<nav class='book-navbar'>

    <!-- This if will stay here just in case the other if fails somehow. -->
    <% if request.original_url == url_for(should_return_to) %>
        <% should_return_to = books_path %>
    <% end %>

    <%= link_to '<i class="fa-solid fa-circle-arrow-left"></i>'.html_safe, page ? edit_book_path(book_id) : should_return_to, method: "get", class: "book-return-button" %>
    
    
    <% if page %>
        <div class='nav_route_tool'>
            <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, books_path, method: "get", class: "book-home-button" %>
            <i id='arrow_right' class="fa-solid fa-arrow-right"></i>
            <%= link_to @book.title, edit_book_path(book_id) , method: "get", class: "book-home-name" %>
            <i id='arrow_right' class="fa-solid fa-arrow-right"></i>
            <input type='text' class='button-page-title-nav'>
        </div>
    <% end %>


    <% if request.original_url.split('/')[-1].strip != "edit_info" && !page %>
        <%= link_to '<i class="fa-solid fa-gear"></i>'.html_safe, edit_info_book_path, method: "get", class: "book-edit-button" %>
    <% else %>
        <div class='fullscreen-toggle'>
            <i data-controller='fullscreen' data-action="click->fullscreen#openFullscreen" class="fa-solid fa-expand"></i>
        </div>
    <% end %>
</nav>


<script>
    document.getElementsByTagName('header')[0].setAttribute('style', 'padding: 0px !important')
</script>