<nav class='book-navbar'>

    <!-- This if will stay here just in case the other if fails somehow. -->
    <% if request.original_url == url_for(should_return_to) %>
        <% should_return_to = books_path %>
    <% end %>

    <%= button_to '<i class="fa-solid fa-circle-arrow-left"></i>'.html_safe, should_return_to, method: "get", class: "book-return-button" %>
    <% if request.original_url.split('/')[-1].strip != "edit_info" %>
        <%= button_to '<i class="fa-solid fa-gear"></i>'.html_safe, edit_info_book_path, method: "get", class: "book-edit-button" %>
    <% end %>
</nav>


<script>
    document.getElementsByTagName('header')[0].setAttribute('style', 'padding: 0px !important')

    // document.addEventListener('DOMContentLoaded', function() {

    // });
</script>